
mat-slider {
    width: 200px;
  }
  table {
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin-right: 10%;
  }
  .CardDivL{
  
    width: 40%;
    margin: auto;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: left;
  }
  .CardDivR{
    
    width: 30%;
    margin: auto;
    text-align: center;
    margin-right: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: right;
  }
  p {
    padding-right: 5px;
}
.texta{
    text-align: center;
    margin: 0 auto;
}
img{
    width: 150px;
    height: 150px;
}
.block{
  width:29%;
}
.mat-raised-button{
  text-align: center;
  width: 100%;
  background-color: red;
  color: white;
}
#wrapper{
  height: 1000px;
}