mat-card {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}
p {
    padding-right: 5px;
}
<<<<<<< HEAD

.card-1 {
    margin: 0 auto;
     width: 35%;
}
=======
>>>>>>> 759cb1361ffd000a2b5f63d93a5cf8b14de89e29
