
    <mat-card class="CardDivL">
        <h1 align="center">Car</h1><br>
        <img src="/assets/images/Twitter.png"><br><br>
        <p>$$$$<p><br>
        <mat-divider></mat-divider><br><br>
        <img src="/assets/images/Twitter.png"><br><br>
      
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
          
    </mat-card>



    <mat-card class="CardDivR">
        <h1 align="center">Calculator</h1><br>
        Credit Score:
        <select>
            <option value="Providence" >300 - 500</option>
            <option value="Boston">501 - 600</option>
            <option value="New Bedford">601 - 660</option>
            <option value="New Bedford">661 - 780</option>
            <option value="New Bedford">781 - 850</option>
        </select>
        <br ><br >
        Cost:
    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider><br>
    <br><br>
    <div class="form-group">
        Monthly Payment:<input class="form-control" type="text" name="Monthly">
        Interest Rate:<input class="form-control" type="text" name="APR">
        Total Amount:<input class="form-control" type="text" name="Amount">
        Total Interest:<input class="form-control" type="text" name="Interest">
    </div>
    <button mat-raised-button color="primary" (click)="onLogIn()">Submit</button>
     
    </mat-card>




