<div id="wrapper">
    <div id="left-filter-container">
        <mat-card id="filters-fields-card">
            <div id="title">
                <h1>Find a dealership</h1>
            </div>
            <div id="filter-fields">
                <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
                        Search radius
                    </button>  
                    <mdb-badge color="cyan">Radius display</mdb-badge>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item">25</a>
                        <a class="dropdown-item">50</a>
                        <a class="dropdown-item">75</a>
                        <a class="dropdown-item">100</a>
                        <a class="dropdown-item">125</a>
                        <a class="dropdown-item">150</a>
                        <a class="dropdown-item">175</a>
                        <a class="dropdown-item">200</a>
                    </div>
                </div>
                <div>

                </div>

            </div>
            <div id="results-container">
        
            </div>
        </mat-card> 
    </div>
    <div id="api-map-container">

    </div>
</div>
