<mat-card>
        <h1 align="center">Calculator</h1><br>
        Credit Score:
        <select>
            <option value="Providence" >100</option>
            <option value="Boston">200</option>
            <option value="New Bedford">300</option>
        </select>
        <br ><br >
        Cost:
<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider><br>
<br><br>
    Monthly Payment:<input type="text" name="Monthly"><br><br>
    Interest Rate:<input type="text" name="APR"><br><br>
    Total Amount:<input type="text" name="Amount"><br><br>
    Total Interest:<input type="text" name="Interest"><br><br>
    <button mat-raised-button color="primary" (click)="onLogIn()">Submit</button>


 
</mat-card>

<!--<mat-card>
    <h1 align="center">Calculator</h1>

    <mat-form-field>
            Credit Score:
            <select>
                <option value="Providence" >100</option>
                <option value="Boston">200</option>
                <option value="New Bedford">300</option>
            </select>
            <br>
            <mat-slider></mat-slider>
  <br ><br>
    Email: <input type="text" name="email"><br><br>
    Password:<input type="password" name="password"><br><br>
    
    <button mat-raised-button color="primary" (click)="onLogIn()">Log On</button><p><a href="#">Register</a></p>
    </mat-form-field>
</mat-card>-->


