mat-card {
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    /* margin-bottom: 2rem;  */
    /* background: url("src/assets/images/bg.png") ; */
    background-color: whitesmoke;
}
p {
    padding-right: 5px;
}

mat-slider {
    width: 300px;
  }