<div id="wrapper">
    <div class="left-info">
        <div class="left-info-header">
            <div class="left-info-header-image">

            </div>
            <div class="left-info-header-title">
                
            </div>
        </div>
        <div class="left-info-content">

        </div>
    </div>
    <div class="info-main-content">
        <div class="info-main-content-header">

        </div>
        <div class="info-main-content-tiles">
            
        </div>
    </div>
</div>
