<mat-toolbar>
    <mat-toolbar-row>
        <!-- <button mat-button routerLink="/"> Home </button> -->
        <a class="logo" routerLink="/">
            <img src="assets/images/logo.png" height="56px" width="auto">
          </a>
        <button mat-button routerLink="/cars"> Browse Cars </button>
        <button mat-button routerLink="/finance"> Finance Calculator </button>
        <button mat-button routerLink="/dealership"> Find a Dealership </button>
        <button mat-button routerLink="/about"> About Us </button>
        <button mat-button routerLink="/loggedF"> logged </button>
        

        <span class="spacer"></span>
        <button mat-button routerLink="/login"> Login </button>
        <button mat-button routerLink="/user"> Register </button>
    </mat-toolbar-row>
</mat-toolbar>
