<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/"> Home </button>
        <button mat-button routerLink="/cars"> Car Lot </button>
        <button mat-button routerLink="/finance"> Finance </button>
        <button mat-button routerLink="/dealership"> dealership </button>

        <span class="spacer"></span>
        <button mat-button routerLink="/login"> Login </button>
        <button mat-button routerLink="/register"> Register </button>
    </mat-toolbar-row>
</mat-toolbar>
