<div id="wrapper">
    <div id="filter-bar">

    </div>
    <div id="content-grid">
        <ul class="mdc-image-list my-image-list">
        <!-- each li will be generated based on the data pulled from the car api -->
            <li class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="/assets/images/porsche.jpg">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
            <li class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="/assets/images/porsche.jpg">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
            <li class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                    <img class="mdc-image-list__image" src="/assets/images/porsche.jpg">
                </div>
                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">Text label</span>
                </div>
            </li>
        </ul>
    </div>
</div>
