/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*TODO
SPACING/SIZING
COLOR SCHEME

*/


body {
    margin: 0;
    background-color: dimgray;

}

.spacer {
    flex-grow: 1;
}

.carousel-inner {
    overflow: visible;
    background-color: gray;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
    background-color: gray;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: 10;
    background-color: gray;
}

a.carousel-control-prev {
     z-index: 15;
     background-color: gray;
     width: 10%;
}

a.carousel-control-next {
    z-index: 15;
     background-color: gray;
     width: 10%;
}

.carousel-indicators{
    z-index: 20;
}

.carousel-control-prev-icon{
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
    z-index: 30;
 }
 .carousel-control-next-icon{
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png');
   z-index: 30;
 }


 